[[language]]
name = "latex"
formatter = { command = 'tex-fmt', args = ["-s"] }
auto-format = true

[language-server.rust-analyzer.config.check]
command = "clippy"

[language-server.tinymist]
command = "tinymist"

[language-server.pyrefly]
command = "pyrefly"
args = ["lsp"]

[language-server.deno-lsp]
command = "deno"
args = ["lsp"]
config.deno.enable = true

[language-server.clangd]
args = ["--header-insertion=never"]

[[language]]
name = "python"
language-servers = ["pyrefly", "ruff"]
auto-format = true

[[language]]
name = "typst"
language-servers = ["tinymist"]
formatter = { command = 'typstyle' }
indent = { tab-width = 2, unit = "  " }
auto-format = true

[[language]]
name = "c"
formatter = { command = "clang-format" }
auto-format = true

[[language]]
name = "cpp"
formatter = { command = "clang-format" }
auto-format = true

[[language]]
name = "go"
auto-format = true
formatter = { command = "golines" }

[[language]]
name = "typescript"
roots = ["deno.json", "deno.jsonc", "package.json"]
file-types = ["ts", "tsx"]
auto-format = true
language-servers = ["deno-lsp"]

[[language]]
name = "javascript"
roots = ["deno.json", "deno.jsonc", "package.json"]
file-types = ["js", "jsx"]
auto-format = true
language-servers = ["deno-lsp"]

[[language]]
name = "verilog"
grammar = "verilog"
