[[language]]
name = "latex"
formatter = { command = 'tex-fmt', args = ["-s"] }
auto-format = true

[language-server.rust-analyzer.config.check]
command = "clippy"

[language-server.tinymist]
command = "tinymist"

[language-server.ty]
command = "ty"
args = ["server"]

[[language]]
name = "python"
language-servers = ["ty", "ruff"]
auto-format = true

[[language]]
name = "typst"
language-servers = ["tinymist"]
formatter = { command = 'typstyle' }
indent = { tab-width = 2, unit = "  " }
auto-format = true

[[language]]
name = "c"
formatter = { command = "clang-format" }
auto-format = true

[[language]]
name = "cpp"
formatter = { command = "clang-format" }
auto-format = true

[[language]]
name = "go"
auto-format = true
formatter = { command = "golines" }

[[language]]
name = "typescript"
language-servers = ["eslint", "typescript-language-server"]
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }
indent = { tab-width = 2, unit = " " }

[[language]]
name = "javascript"
language-servers = ["eslint", "typescript-language-server"]
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }
indent = { tab-width = 4, unit = " " }

[[language]]
name = "css"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "css"] }

[[language]]
name = "html"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "html"] }

[[language]]
name = "json"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "json"] }

[[language]]
name = "markdown"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "markdown"] }
indent = { tab-width = 4, unit = "   " }

