layout {
    cwd "/data/unsw/comp/1521_code/a2"
    tab name="Tab #1" focus=true {
        pane split_direction="vertical" {
            pane cwd="/data/unsw/comp/1521_code/a2" command="helix" focus=true size="50%" {
                args "aif-tools.c"
            }
            pane size="50%" {
                pane size="15%" cwd="/data/unsw/comp/1521_code/a2" {
                }
                pane command="ssh" size="85%" {
                    args "-t" "vlab" "cd 1521_code/a2; bash -i"
                }
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}

