@import url("./catppuccin/themes/mocha.css");

* {
  font-family: "Fira Code Nerd Font";
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: transparent;
  background-color: @surface0;
  border-radius: 8px;
  color: @text;
  padding: 0px;
}

#workspaces {
  background-color: @surface0;
  border-radius: 8px;
}

#workspaces button {
  color: @lavender;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button.focused {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

#cpu {
  color: @blue;
  background-color: @surface0;
  padding-left: 1.2rem;
  padding-right: 0.6rem;
}

#memory {
  color: @blue;
  background-color: @surface0;
  padding-right: 0.6rem;
}

#clock {
  color: @blue;
  background-color: @surface0;
  margin: 5px;
  padding-left:  8px;
  padding-right:  8px;
}

#pulseaudio {
  background-color: @surface0;
  color: @maroon;
  margin-left: 1rem;
}

#tray,
#backlight,
#battery,
#pulseaudio,
#custom-power {
  background-color: @surface0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 5px 0;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#custom-lock {
  color: @maroon;
  background-color: @surface0;
  margin: 5px 0px 5px 5px;
  padding: 0px 5px 0px 10px;
}

#custom-power {
  margin-right: 1rem;
  color: @red;
}

#tray {
  margin-left: 1rem;
  margin-right: 1rem;
}

#workspaces button.urgent {
  color: @red;
}
